@import "../../../../assets/styles/colors";
@import "../../../../assets/styles/buttons";
.user-info{
  display: flex;
  justify-content: center;
  align-items: center;
}
.secondary-btn{
  @include secondary-button;
}
p{
  color: $primary-color;
  font-weight: bold;
  cursor: pointer;
  margin: 0 10px 0 0;
}
.logout{
  color: $primary-color;
}
mat-icon{
  cursor: pointer;
}
