.first-section{
  background: url(../assets/first-section/bg-section1.png) no-repeat center center;
  min-height: 1100px;
}
.home-holder{
  max-width: 1372px;
  padding: 56px 20px 20px 20px;
  margin: 0 auto;
  img{
    position: absolute;
    max-width: 1325px;
    width: 100%;
  }
}
.section1{
  margin-top: 111px;
  h1{
    margin: 0;
    text-align: center;
    font-size: 72px;
    font-weight: 700;
    line-height: 87px;
    text-transform: capitalize;
    color: rgba(29, 20, 55, 1);
    span{
      color: rgb(165 115 203);
    }
  }
  p{
    text-align: center;
    margin-top: 33px;
    font-size: 22px;
    line-height: 39px;
  }
}
