.header{
  display: flex;
  align-items: center;
  text-align: left;
  .section2{
    padding-left: 30px;
    h1{
      text-align: left;
      margin-bottom: 10px;
      font-size: 26px;
    }
    p{
      text-align: left;
    }
  }
}
.line{
  height: 1px;
  background: #bbbbbb;
  width: 100%;
  position: absolute;
  top: 150px;
}
.form{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
