@import "../../../../assets/styles/colors";
.side-nav{
  padding: 20px;
  border-radius: 20px;
  width: 300px;
  margin-top: 10px;
  //border-right: 1px solid $font-color;
  height: 100vh;
  background-color: white;
  .company-info{
    span{
      font-size: 10px;
    }
    p{
      font-weight: bold;
      cursor: pointer;
    }
  }
  .line{
    height: 1px;
    background-color: $font-color;
    margin-top: 20px;
  }
  .inner{
    .row{
      display: flex;
      align-items: center;
      margin-top: 30px;
      p{
        margin: 0;
        line-height: 1;

      }
      //justify-content: center;
    }
  }
}
