@import "../../../../assets/styles/colors";
@import "../../../../assets/styles/buttons";
.side-nav{
  padding: 20px;
  width: calc(300px - 40px);
  height: calc(100% - 40px);
  background-color: white;
  position: relative;
  .logo{
    width: 160px;
  }
  .company-info{
    span{
      font-size: 10px;
    }
    p{
      font-weight: bold;
      cursor: pointer;
    }
  }
  .line{
    height: 1px;
    background-color: $light-gray;
    margin: 40px 0;
  }
  .inner{
    .create-btn{
      @include primary-button(230px, 56px, 29px, 18px, 600, 27px, white, 0);
      .plus{
        font-size: 30px;
        margin-right: 10px;
      }
    }
    .row{
      cursor: pointer;
      display: flex;
      align-items: center;
      padding: 16px 0;
      //margin-top: 30px;
      &.selected{
        p{
          font-weight: bold;
        }
      }
      img{
        margin-right: 12px;
      }
      p{
        margin: 0;
        line-height: 1;
        font-size: 16px;
      }
      //justify-content: center;
    }
  }
}
