<div class="table recent">
  <h3>Recent Content</h3>
  <div class="tabs">
    <div class="tab selected">Documents</div>
    <div class="tab">AI Outputs</div>
  </div>
  <div class="table-inner">
    <div class="table-header">
      <div class="col">Name</div>
      <div class="col">Campaign</div>
      <div class="col">Created by</div>
      <div class="col">Last Modified</div>
    </div>
    <div class="table-row">
      <div class="col">
        <img src="assets/recent-content/doc.svg">
        <p>
          Document 1
        </p>
      </div>
      <div class="col">
        <p class="selected">
          Campaign
        </p>
      </div>
      <div class="col"><p>Me</p></div>
      <div class="col"><p>2 days ago</p></div>
    </div>
    <div class="table-row">
      <div class="col">
        <img src="assets/recent-content/doc.svg">
        <p>
          Document 1
        </p>
      </div>
      <div class="col">
        <p class="selected">
          Campaign
        </p>
      </div>
      <div class="col"><p>Me</p></div>
      <div class="col"><p>2 days ago</p></div>
    </div>
    <div class="table-row">
      <div class="col">
        <img src="assets/recent-content/doc.svg">
        <p>
          Document 1
        </p>
      </div>
      <div class="col">
        <p class="selected">
          Campaign
        </p>
      </div>
      <div class="col"><p>Me</p></div>
      <div class="col"><p>2 days ago</p></div>
    </div>

  </div>
  <div class="all">
    View All Recent Documents
  </div>
</div>

