@import "../../../../../assets/styles/account";
.create-nav{
  @include generic-border;
  position: absolute;
  right: -176px;
  top: 115px;
  padding: 20px;
  z-index: 4;
  .row{
    display: flex;
    align-items: center;
    margin-bottom: 23px;
    cursor: pointer;
    &:last-child{
      margin-bottom: 0;
    }
    p{
      margin: 0;
    }
    img{
      margin-right: 8px;
    }
  }
}
