@import "colors";
.dialog{
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .logo{
    //text-align: center;
    //font-size: 22px;
    //font-weight: bold;
    margin-bottom: 40px;
    img{
      max-width: 120px;
    }
  }
  h1{
    font-size: 30px;
    max-width: 400px;
    text-align: center;
    line-height: 1.4;
    color: $font-color;
    font-weight: bold;
    margin-bottom: 40px;
  }
  .link{
    text-decoration: underline;
    cursor: pointer;
  }
}
.line{
  height: 1px;
  background: black;
  width: 100%;
}
