<div class="table">
  <h3>Continue where you left</h3>
  <div class="table-inner">
    <div class="row">
      <div class="col">
        <img src="assets/recent-content/doc.svg">
        <p>
          Document 1
        </p>
      </div>
      <div class="col">
        <span>
          Blog Intros
        </span>
      </div>
      <div class="col">
        <span>
          edited 4 days ago
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="assets/recent-content/doc.svg">
        <p>
          Document 1
        </p>
      </div>
      <div class="col">
        <span>
          Blog Intros
        </span>
      </div>
      <div class="col">
        <span>
          edited 4 days ago
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="assets/recent-content/doc.svg">
        <p>
          Document 1
        </p>
      </div>
      <div class="col">
        <span>
          Blog Intros
        </span>
      </div>
      <div class="col">
        <span>
          edited 4 days ago
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="assets/recent-content/doc.svg">
        <p>
          Document 1
        </p>
      </div>
      <div class="col">
        <span>
          Blog Intros
        </span>
      </div>
      <div class="col">
        <span>
          edited 4 days ago
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="assets/recent-content/doc.svg">
        <p>
          Document 1
        </p>
      </div>
      <div class="col">
        <span>
          Blog Intros
        </span>
      </div>
      <div class="col">
        <span>
          edited 4 days ago
        </span>
      </div>
    </div>
  </div>
</div>
