<div class="table">
  <h3>Suggested for you</h3>
  <div class="elements">
    <div class="element">
      <img src="assets/suggested/recent.svg">
      <div>
        <h4>Recent Content</h4>
        <p>Lorem ipsum</p>
      </div>
    </div>
    <div class="element">
      <img src="assets/suggested/star.svg">
      <div>
        <h4>Your Content</h4>
        <p>Lorem ipsum</p>
      </div>
    </div>
  </div>
  <div class="elements">
    <div class="element">
      <img src="assets/suggested/plus.svg">
      <div>
        <h4>Create new content</h4>
        <p>Lorem ipsum</p>
      </div>

    </div>
    <div class="element">
      <img src="assets/suggested/brand.svg">
      <div>
        <h4>Brand Guide</h4>
        <p>Lorem ipsum</p>
      </div>

    </div>
  </div>
</div>
