<div class="my-account">
<!--  -->
  <app-side-nav [url]="currentRoute" (loadingEmitter)="this.loading = $event"></app-side-nav>

  <div *ngIf="!isChildRoute" class="my-account-inner">
    <div class="inner mat-elevation-z2" *ngIf="loading">
      <mat-spinner></mat-spinner>
    </div>
    <div class="inner mat-elevation-z2" *ngIf="!userService.user.companies.length && !loading">
      <h1>&#x1F4BC; Kickstart Your Business Journey: Add Your Company!</h1>
    </div>

    <div class="inner"  *ngIf="userService.user.companies.length && !loading" >
      <div class="welcome">
        <h1 class="gradient-text">Hello, {{userService.user.profile.name}}!</h1>
        <img src="assets/my-account/mail.svg">
      </div>
      <div class="dashboard">
        <app-recent-content></app-recent-content>
        <div class="splitter">
          <app-suggested-for-you class="suggested"></app-suggested-for-you>
          <app-continue-where-left class="continue"></app-continue-where-left>
        </div>
      </div>
    </div>
  </div>
  <div class="route-holder">
    fdsfd
<!--    <router-outlet></router-outlet>-->
  </div>
</div>

